<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <h3>Authorize {{apiKey.name}}</h3>
      <form class="register-form" action="{{user_decision_path}}" method="POST">

        <p>The application "{{apiKey.name}}" would like to access your Nitrogen account.</p>

        <ol>
        {{#each scope}}
            <li>It would like to {{actionsEnglish}} the following:
                <ul>
            {{#if principals}}
                {{#each principals}}
                    <li>{{name}} ({{id}})</li>
                {{/each}}
            {{else}}
                <li>(none found matching app's criteria)</li>
            {{/if}}
                </ul>
            </li>
        {{/each}}
        </ol>

        <input type="hidden" name="code" value="{{code}}" />

        <div class="form-group">
            <button type="submit" name="authorize" class="btn green">Authorize</button>
            <button type="submit" name="deny"      class="btn btn-default">Deny</button>
        </div>

      </form>
  </div>
  <div class="col-md-3"></div>
</div>