<table class="table">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Last Connection</th>
        <th>Last IP</th>
    </tr>

    {{#each principal in controller}}
    <tr>
        <td>{{principal.id}}</td>
        <td>{{principal.principal_type}}</td>
        <td>{{principal.name}}</td>
        <td>{{principal.lastConnectionString}}</td>
        <td>{{principal.last_ip}}</td>
    </tr>
    {{/each}}

    <tr>
        <td colspan="5">
            Claim device: <input type="text" id="principalId"></input> <a {{action claim target="controller"}} class="btn btn-primary">Claim</a>
        </td>
    </tr>

</table>

